body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 .5rem;
}

.navbar__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list li {
    list-style-type: none;
    padding: 0 15px 0 15px;
}

.list li a {
    text-decoration: none;
    color: #404242;
}

.jsut .list li a {
    text-decoration: none;
}

.list {
    display: flex;
}

.btn {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #58A9A5;
    color: #FFFFFF;
    border: none;
}

.home {
    color: #58A9A5;
}

.row {
    display: flex;
    margin: 0 -.5rem;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 0 -.5rem;
}

.col {
    flex: 1 0 0;
    /* 
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    */
}

.col-auto {
    flex: 0 0 auto;
}

.col-1 {
    flex: 0 0 8.33333%;
}

.col-2 {
    flex: 0 0 16.66666%;
}

.col-3 {
    flex: 0 0 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
}

.col-5 {
    flex: 0 0 41.66666%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
}

.col-11 {
    flex: 0 0 91.6666667%;
}

.col-12 {
    flex: 0 0 100%;
}

.jojo {
    display: flex;
}

img {
    position: relative;
    height: 500px;
}

.div-image {
    background-image: url(./Rectangle\ 9.png);
    background-size: 500px;
    background-repeat: no-repeat;
}

.text {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    justify-content: center;
}

.text-2 {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

nav {
    padding: 25px 0 50px;
}

.btn-2 {
    width: 140px;
    height: 40px;
    border-radius: 8px 8px 8px 0;
    background-color: #58A9A5;
    color: #FFFFFF;
    border: none;
}

.text-center {
    display: flex;
    justify-content: center;
    height: 100px;
    font-family: 'Poppins', sans-serif;
}

.text-color {
    color: black;
}

.div-image-2 {
    height: 225px;
    width: 708px;
    left: 950px;
    top: 2188px;
    border-radius: nullpx;
}